body {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

button{
    width: 300px; height: 40px;
    background-color: #2836a1;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    transition: 0.7s;
    font-weight: bold;
}

button:hover{
    transform: scale(1.1);
}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1{
    color: rgb(255, 255, 255);
    padding-left: 5px;
    font-weight: 400;
}

.eventos_h1{
    text-align: center;
    color: black;
}

.corredor_eventos{
    width: 600px; height: auto;
    background-color: #03032B;
    border-radius: 10px;
    margin-top: 10px;
}


.carde_evento{
    width: 580px; height: auto;
    background-color: rgb(214, 214, 214);
    display: grid;
    margin: 10px;
    border-radius: 10px;
    grid-template-areas: 
      'nome nome dia dia'
      'pregador pregador local local'
      'img img sobre sobre';
}

#nome{
    grid-area: nome;
}

#dia{
    grid-area: dia;
}

#pastor{
    grid-area: pregador;
}

#lugar{
    grid-area: local;
}

#img{
    grid-area: img;
    height: 32vh;
}

#sobre{
    grid-area: sobre;
    height: 32vh;
}

.carde_evento div{
    background-color: #2836a1;
    border-radius: 5px;
    margin: 3px;
    font-size: 8px;
}

.carde_evento div h1{
    text-align: justify;
    text-indent: 10px;
}

@media screen and (max-width: 610px)  {
    .corredor_eventos{
        width: 100%;
    }

    .carde_evento{
        width: 96%; height: auto;
        grid-template-areas: 
        'nome'
        'dia'
        'pregador'
        'local'
        'img'
        'sobre';
    }
    
    #img{
        grid-area: img;
        height: 50vh;
    }

    #sobre{
        grid-area: sobre;
        height: 20vh;
    }
}