html {
    scroll-behavior: smooth;
}

.local_sobre{
    width: 100%; height: 80vh;
    display: flex;
}

.local{
    width: 50%; height: 100%;
    border-right: 5px solid black;
}

.txt_local{
    width: 100%; height: 10%;
    font-size: 25px;
    text-align: center;
}

.fa-location-dot{
    font-size: 270px;
}

.btn_local{
    width: 90%; height: 90%;
    background-color: aqua;
    border-radius: 20px;
    border: none;
    margin: 5%;
    transition: 0.2s;
}

.btn_local:hover{
    background-color: rgb(27, 88, 88);
}

.inf_local{
    width: 100%; height: 90%;
    display: flex;
}

.img_local{
    width: 50%; height: 100%;
}

.img_local img{
    margin: 5%;
    width: 90%; height: 90%;
    border-radius: 20px;
    box-shadow: 0px 15px 20px black;
}

.rua_local{
    width: 50%; height: 100%;
}

.sobre{
    width: 50%; height: 100%;
}

.sobre h1{
    color:  rgb(0, 0, 0);
    font-size: 30px;
    text-align: justify;
    overflow: auto;
}

.sobre .cont{
    color:  rgb(0, 0, 0);
    font-size: 20px;
    text-align: justify;
}

.txt_sobre{
    width: 80%; height: 100%;
    margin-left: 10%;
}

.txt_sobre h1{
    text-align: center;
}

.txt_sobre .cont{
    text-indent: 60px;
}

.local_sobre, .cultos_semanais, .dizimos_palavra_da_semana, .lives{
    margin-bottom: 70px;
}

.lives{
    background-color: #03032B;
    width: 100%; height: 60vh;
    font-size: 15px;
    color: #725BCD;
    text-align: center;
    border: 10px solid #010118;
}

.relogio{
    width: 100%; height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_live button{
    width: 250px;
}

.hrs, .mins, .segs, .days{
    width: 20%; height: 90%;
    background-color: rgb(0, 0, 0);
    color: #725BCD;
    padding-top: 20px;
    font-size: 25px;
}

#dias{
    font-size: 80px;
    text-align: end;
}

#horas{
    font-size: 80px;
    text-align: end;
}

#minutos{
    font-size: 80px;
    text-align: end;
}

#segundos{
    font-size: 80px;
    text-align: end;
}

.live_you{
    background-color: #010118;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width: 10%;
    height: 10%;
    font-size: 20px;
    border: none;
}

.live_you:hover{
    background-color: black;
}

.grupos{
    background-color: rgb(92, 92, 247);
    width: 100%; height: 35vh;
}

.grupos h1{
    color: white;
    font-size: 40px;
    text-align: center;
}

.creditos{
    border-top: 15px solid rgb(0, 0, 36);
    background-image: url("/static/img/creditos.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center right;
    width: 100%; height: 80vh;
}

.links_crd{
    background-color: #332080;
    border-radius: 20px;
    margin: 10px;
    width: 70%; height: auto;
    text-align: center;
}

.links_crd a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
}

.rua_crt{
    margin: 10px;
    border-radius: 20px;
    width: 70%; height: min-content;
    background-color: #725BCD;
}

.rua_crt h1{
    color: #020239;
    font-size: 25px;
    padding: 20px;
}

.redes_by{
    margin: 10px;
    border-radius: 20px;
    border: 0px;
    width: 70%; height: 30%;
    display: flex;
}

.redes_by table{
    background-color: #040440;
    width: 29%; height: 100%;
    border-radius: 20px;
    padding-left: -300px;
}

.redes_by td{
    width: 50%; height: 50%;
    border-radius: 20px;
}

.redes_by i{
    color: black;
    font-size: 65px;
    padding-left: 30%;
}

.by{
    width: 69%; height: 100%;
    background-color: #03032B;
    border-radius: 20px;
    margin-left: 2%;
}

.by h1{
    text-align: center;
    font-size: 30px;
}

.by i{
    font-size: 100px;
    text-align: center;
    padding-left: 45%;
}

.redes_by{
    display: flex;
}

@media screen and (max-width: 1080px) {
    .local_sobre{
        display: block;
        height: 100vh;
    }

    .local{
        width: 100%; height: 50%;
        border-right: none;
    }

    .sobre{
        width: 100%; height: 50%;
    }

    .txt_local{
        font-size: 20px;
    }

    .inf_local{
        height: 100%;
    }

    .local i{
        font-size: 200px;
    }

    .img_local img{
        width: 90%; height: 80%;
    }

    .btn_local{
        width: 90%; height: 80%;
    }

    .redes_by i{
        font-size: 50px;
    }

    .by h1{
        font-size: 25px;
    }
    
    .by i{
        font-size: 80px;
    }
}

@media screen and (max-width: 690px) {
    .local i{
        font-size: 150px;
    }

    .txt_local{
        font-size: 17px;
    }

    .relogio{
        height: 55%;
    }

    .hrs, .mins, .segs, .days{
        width: 25%; height: 90%;
        padding-top: 20px;
        font-size: 25px;
    }

    .rua_crt h1{
        color: #020239;
        font-size: 20px;
        padding: 20px;
    }

    .redes_by{
        margin: 10px;
        border-radius: 20px;
        width: 80%; height: 25%;
        display: flex;
    }

    .redes_by table{
        background-color: #040440;
        width: 39%; height: 100%;
        border-radius: 20px;
    }

    .redes_by i{
        color: black;
        font-size: 45px;
        padding-left: 30%;
    }

    .by{
        width: 60%;
    }

    .by h1{
        text-align: center;
        font-size: 20px;
    }

    .by i{
        font-size: 60px;
        text-align: center;
        padding-left: 15px;
    }
}

@media screen and (max-width: 590px) {

    .relogio{
        height: 50%;
    }

    .hrs, .mins, .segs, .days{
        padding-top: 15px;
    }

    #dias{
        font-size: 60px;
    }
    
    #horas{
        font-size: 60px;
    }
    
    #minutos{
        font-size: 60px;
    }
    
    #segundos{
        font-size: 60px;
    }
}

@media screen and (max-width: 540px) {
    .hrs, .mins, .segs, .days{
        font-size: 17px;
    }
}

@media screen and (max-width: 380px) {

    .hrs, .mins, .segs, .days{
        padding-top: 15px;
        font-size: 15px;
    }



    .rua_crt {
        width: 90%;
    }

    .redes_by{
        width: 90%; height: 35%;
        display: block;
    }
    
    .redes_by table{
        width: 100%; height: 50%;
    }

    .by{
        margin-top: 10px;
        width: 100%; height: 35%;
    }
    
    .by i{
        font-size: 30px;
    }
}