body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

*{
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.conteiner_nav{
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 18px;
}

.sociais_nav{
    width: 25%;
}

.menu_nav{
    width: 50%;
}

.btn_menu_pri{
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.btn_menu_pri:hover{
    background-color: #2836a1;
    color: black;
}

.btn_menu_pri a{
    color: black;
    text-decoration: none;
    padding-right: 30px;
    font-size: 15px;
    padding-left: 8px;
}

.sociais_nav button{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #2836a1;
}

.sociais_nav button i{
    font-size: 40px;
    color: #ffffff;
}

.logo_nav h1{
    background: transparent;
    color: rgb(0, 0, 0);
    padding-right: 30px;
    font-weight: bold;
    margin: 0px 0px 0px 20px;
}

.menu_nav_mobile{
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 85px;
    left: 0;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}

.menu_nav_mobile nav a{
    color: rgb(255, 255, 255);
    text-align: none;
    display: block;
    padding: 20px 30px;
    font-size: 16px;
}

.menu_nav_mobile nav a:hover{
    background-color: rgba(0, 0, 0, 0.774);
}

.btn_nav_menu{
    height: 40px; width: 40px;
    border-radius: 8px;
    border: 2px solid #2836a1;
    background: transparent;
    display: none;
}

.linha{
    width: 28px; height: 2px;
    background-color: #2836a1;
    display: block;
    margin: 5px auto;
}

section.slide{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slide_content{
    width: 400%;
    height: auto;
    display: flex;
}

.slide_content input{
    display: none;
}

.slide_box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
    box-shadow: 0px 60px 0px black;
}

.slide_box img{
    width: 100%;
}

.nav_manual, .nav_auto{
    position: absolute;
    width: 100%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}

.nav_manual .manual_btn, .nav_auto div{
    border: 1px solid #2836a1;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav_manual .manual_btn:not(:last-child), .nav_auto div:not(:last-child){
    margin-right: 10px;
}

.nav_manual .manual_btn:hover{
    background-color: #2836a1;
}

#slide_1:checked ~ .nav_auto .auto_btn_1{
    background-color: #2836a1;
}

#slide_2:checked ~ .nav_auto .auto_btn_2{
    background-color: #2836a1;
}

#slide_3:checked ~ .nav_auto .auto_btn_3{
    background-color: #2836a1;
}

#slide_1:checked ~ .primeiro{
    margin-left: 0%;
}

#slide_2:checked ~ .primeiro{
    margin-left: -25%;
}

#slide_3:checked ~ .primeiro{
    margin-left: -50%;
}

.btn_eventos{
    width: 240px; height: 60px;
    background-color: #2836a1;
    color: white;
    font-size: 40px;
    border-radius: 20px;
    border: none;
    transform: translateX(-160%) translateY(-200%);
}

.space_carosel{
    height: 10px;
}

.dizimos_palavra_da_semana{
    margin-bottom: 70px;
    width: 100%; height: 80vh;
    display: flex;
}

.div_palavra_da_semana{
    width: 65%; height: 80vh;
    border-right: 5px solid black;
    padding: 90px;
}

.limite_palavra{
    width: 80%;
}

h2.titulo_palavra_da_semana{
    color: rgb(0, 34, 49);
    font-size: 35px;
    margin-top: 40px;
    text-align: justify;
}

h2.palavra_da_semana{
    text-align: justify;
    color: rgb(1, 25, 71);
    font-size: 25px;
}

.dizimos{
    width: 35%; height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 25px;
}

.dizimos img{
    height: 150px;
    width: 150px;
    margin: auto;
}

.btn_dizimos{
    width: 240px; height: 50px;
    background-color: #2836a1;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 150px;
    font-weight: 900;
}

@keyframes ScrollReveal {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }

}

.btn_dizimos:hover{
    background-color: #161e5a;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}


.cultos_semanais{
    width: 100%; height: 60vh;
    display: flex;
    background-color:  #2836a1;
    justify-content: center;
}

.cultos_semanais div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    animation: ScrollReveal ease;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.domingo, .terca{
    width: 33%;
    height: 100%;
    background-color:  #2836a1;
}

.domingo h1{
    font-weight:900;
    font-size: 40px;
}

.cultos_semanais div{
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
}

.terca h1{
    font-size: 40px;
    font-weight: bold;
}

.quinta{
    width: 34%;
    height: 100%;
    background-color:  #2836a1;
}

.quinta h1{
    font-weight: 900;
    font-size: 40px;
}

@media screen and (max-width: 1080px) {

    .btn_eventos{
        width: 200px; height: 50px;
        font-size: 35px;
    }

    .menu_nav,.sociais_nav{
        display: none;
    }
    
    .logo_nav{
        width: 100%;
    }

    .menu_nav_mobile.menu_mobile_ativo{
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }

    .btn_nav_menu{
        display:block;
    }

    .nav_manual .manual_btn, .nav_auto div{
        height: 5px; width: 5px;
    }

    .logo_nav_img{
        display: none;
    }

    .dizimos_palavra_da_semana{
        margin: 0px;
        width: 100%; height: 100vh;
        display: block;
    }

    h2.palavra_da_semana{
        font-size: 20px;
    }

    .div_palavra_da_semana{
        border: none;
        width: 100%;
        height: 50%;
    }

    .dizimos{
        width: 100%;
        height: 50%;
    }

    .dizimos img{
        margin-top: 100px;
        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 830px){
    .btn_eventos{
        width: 180px; height: 45px;
        font-size: 30px;
        transform: translateX(-210px) translateY(-80px);
    }

    h2.palavra_da_semana{
        font-size: 18px;
    }

}

@media screen and (max-width: 630px) {

    .btn_eventos{
        width: 150px; height: 35px;
        font-size: 20px;
        transform: translateX(-140px) translateY(-50px);
    }

    h2.titulo_palavra_da_semana{
        font-size: 30px;
    }

    h2 .palavra_da_semana{
        font-size: 15px;
    }

    .domingo, .terca{
        width: 100%;
        height: 33%;
    }

    .quinta{
        width: 100%;
        height: 34%;
    }

    .cultos_semanais{
        height: 90vh;
        display: block;
    }
    
    .cultos_semanais h1, .cultos_semanais h2{
        font-size: 15px;
    }

    .cultos_semanais img{
        width: 60px;
    }
}

@media screen and (max-width: 540px){
    h2.titulo_palavra_da_semana{
        font-size: 25px;
    }
}

@media screen and (max-width: 460px) {

    .btn_eventos{
        width: 90px; height: 25px;
        font-size: 10px;
        transform: translateX(-90px) translateY(-40px);
    }

    .fa-solid{
        font-size: 100px;
    }

    .div_palavra_da_semana h2{
        font-size: 30px;
    }

    h2.titulo_palavra_da_semana{
        font-size: 22px;
    }

    h2.palavra_da_semana{
        font-size: 15px;
    }

    .cultos_semanais{
        height: 75vh;
    }
}