html {
    scroll-behavior: smooth;
}

.local_sobre{
    width: 100%; height: 80vh;
    display: flex;
    background-color: #2836a1;
}

.local, .sobre{
    margin: auto;
    width: 50%; height: 80%;
    animation: ScrollReveal ease;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.local{
    border-right: 5px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.local h1{
    width: 100%; height: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.coluna_local{
    width: 300px; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna_local img{
    border-radius: 20px;
}

.coluna_local button{
    width: 180px; height: 40px;
    border: none;
    background-color: #131a52;
    color: white;
    border-radius: 20px;
    transform: translateY(-20px);
}

.coluna_local h1{
    font-size: 20px;
    color: white;

}

.sobre{
    width: 50%; height: 80%;
}

.sobre h1{
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-align: justify;
    overflow: auto;
}

.sobre .cont{
    color: white;
    font-size: 20px;
    text-align: justify;
}

.txt_sobre{
    width: 80%; height: 100%;
    margin-left: 10%;
}

.txt_sobre h1{
    text-align: center;
}

.lives{
    background-color: #ffffff;
    width: 100%; height: 60vh;
    font-size: 15px;
    color: #2836a1;
    text-align: center;
}

.relogio{
    width: 100%; height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_live button{
    width: 250px;
}

.live_you{
    background-color: #2836a1;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
}

.hrs, .mins, .segs, .days{
    width: 20%; height: 90%;
    background-color: rgb(0, 0, 0);
    color: #2836a1;
    padding-top: 20px;
    font-size: 25px;
}

.hrs span, .mins span, .segs span, .days span{
    font-size: 80px;
    text-align: end;
}

.live_you:hover{
    background-color: black;
}

.creditos{
    background-color: white;
    width: 100%; height: 90vh;
    display: grid;
    grid-template-areas: 
    'atalhos redes'
    'atalhos miguel'
}

.creditos div{
    background-color: #2836a1;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 50px;
}

a{text-decoration: none;}

.atalhos_by a {
    color: #ffff;
}

.miguel_by, .redes_by{
    margin: 50%;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.miguel_by a, .redes_by a{
    font-size: 70px;
    border: 30px;
    color: rgb(255, 255, 255);
}

.atalhos_by{
    grid-area: atalhos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.redes_by{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: redes;
}

.miguel_by{
    grid-area: miguel;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.miguel_by i{
    margin-right: 30px;
}

@media screen and (max-width: 1080px) {
    .local_sobre{
        display: block;
        height: 120vh;
    }

    .local{
        width: 100%; height: 500px;
        border-right: none;
        position: relative;
        top: 30px;
    }

    .sobre{
        width: 100%; height: 50%;
    }

    .img_local img{
        width: 90%; height: 80%;
    }
}

@media screen and (max-width: 940px) {
    .creditos{
        grid-template-areas: 
        'atalhos atalhos'
        'miguel miguel'
        'redes redes'
    }
    
    .creditos .miguel_by, .creditos .redes_by{
        margin: 10px 40px 10px 40px;
    }

    .creditos .atalhos_by{
        margin: 40px 40px 10px 40px;
        font-size: 15px;
    }

    .creditos div h1{
        font-size: 20px;
    }

    .miguel_by a{
        font-size: 30px;
    }

    .redes_by a{
        font-size: 50px;
    }
}

@media screen and (max-width: 690px) {
    .local i{
        font-size: 150px;
    }

    .relogio{
        height: 55%;
    }

    .hrs, .mins, .segs, .days{
        width: 25%; height: 90%;
        padding-top: 20px;
        font-size: 25px;
    }
}

@media screen and (max-width: 590px) {

    .relogio{
        height: 50%;
    }
}

@media screen and (max-width: 540px) {
    .hrs, .mins, .segs, .days{
        font-size: 17px;
    }

    .hrs span, .mins span, .segs span, .days span{
        font-size: 65px;
    }
    
    .miguel_by a {
        font-size: 30px;
        margin: 0px 0px 0px 20px;
    }

    .redes_by a{
        font-size: 40px;
    }
}

@media screen and (max-width: 450px) {
    .hrs span, .mins span, .segs span, .days span{
        font-size: 48px;
    }
}
@media screen and (max-width: 380px) {

    .hrs span, .mins span, .segs span, .days span{
        font-size: 40px;
        text-align: end;
    }
}