{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>igrejaICI</title>
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <link rel="stylesheet" href="{%static 'css/index(1).css' %}">
    {% for prox_live in proxs_lives %}
        <script src="{%static 'js/animar.js' %}" defer data-live="{{prox_live.proxs_lives}}"></script>
    {% endfor %}
    <script src="https://kit.fontawesome.com/3f61646e14.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="conteiner_nav" id="eventos">
            <div class="logo_nav_img"><img src="/static/img/logo_igreja.jpg" width="60"></div>
            <div class="logo_nav"><h1>Igreja ICI</h1></div>
            <div class="menu_nav">
                <nav>
                    <button class="btn_menu_pri"><a href="#palavra_da_semana">Palavra</a></button>
                    <button class="btn_menu_pri"><a href="#dizimo">Dizimos</a></button>
                    <button class="btn_menu_pri"><a href="#cultos">Cultos</a></button>
                    <button class="btn_menu_pri"><a href="#sobre">Nós</a></button>
                    <button class="btn_menu_pri"><a href="#local">Local</a></button>
                    <button class="btn_menu_pri"><a href="#live">Live</a></button>
                </nav>
            </div>

            <button class="btn_nav_menu" onclick="animarMenu()" id="btn_menu_nav">
                <span class="linha"></span>
                <span class="linha"></span>
                <span class="linha"></span>
            </button>

            <div class="sociais_nav">
                <a href="https://www.instagram.com/igrejaici/" target="_blank"><button><i class="fa-brands fa-instagram"></i></button></a>
                <a href="https://www.facebook.com/icp.itanhaem" target="_blank"><button><i class="fa-brands fa-square-facebook"></i></button></a>
                <a href="https://www.youtube.com/@igrejaici" target="_blank"><button><i class="fa-brands fa-youtube"></i></button></a>
                <a href="https://www.tiktok.com/@igrejaici?_t=8gDXbjto14A&_r=1" target="_blank"><button><i class="fa-brands fa-tiktok"></i></button></a>
            </div>
        </div>
    </header>

    <section class="slide">
        <div class="slide_content">
            <input type="radio" name="btn_slide" id="slide_1">
            <input type="radio" name="btn_slide" id="slide_2">
            <input type="radio" name="btn_slide" id="slide_3">
            
            <div class="slide_box primeiro">
                <img src="{{pri}}">
                <form action="{% url 'eventos_list' %}">
                    <button class="btn_eventos">eventos</button>
                </form>
            </div>
            
            <div class="slide_box">
                <img src="{{seg}}">
                <form action="{% url 'eventos_list' %}">
                    <button class="btn_eventos">eventos</button>
                </form>
            </div>

            <div class="slide_box">
                <img src="{{ter}}">
                <form action="{% url 'eventos_list' %}">
                    <button class="btn_eventos">eventos</button>
                </form>
            </div>
            
            <div class="nav_auto">
                <div class="auto_btn_1"></div>
                <div class="auto_btn_2"></div>
                <div class="auto_btn_3"></div>
            </div>

            <div class="nav_manual">
                <label for="slide_1" class="manual_btn"></label>
                <label for="slide_2" class="manual_btn"></label>
                <label for="slide_3" class="manual_btn"></label>
            </div>
        </div>
    </section>

    <hr>

    <div class="menu_nav_mobile" id="menu_nav_mobile">
        <nav>
            <a href="#palavra_da_semana">palavra_da_semana</a>
            <a href="#dizimo">Dizimos</a>
            <a href="#cultos">Cultos</a>
            <a href="#sobre">Nós</a>
            <a href="#local">Local</a>
            <a href="https://www.instagram.com/igrejaici/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/icp.itanhaem" target="_blank">Facebook</a>
            <a href="https://www.youtube.com/@igrejaici" target="_blank">Youtube</a>
            <a href="https://www.tiktok.com/@igrejaici?_t=8gDXbjto14A&_r=1" target="_blank">TikTok</a>
        </nav>
    </div>

    <div class="space_carosel"></div>

    <section class="dizimos_palavra_da_semana">
        <div class="div_palavra_da_semana" id="palavra_da_semana">
            <div class="limite_palavra">
                <h2 class="titulo_palavra_da_semana">Palavra da semana</h2>
                <br><br>
                {% for versiculo in versiculos %}
                    <h2 class="palavra_da_semana">{{versiculo.versiculo}}</h2>
                {% endfor %}
            </div>
        </div>
        <div class="dizimos" id="dizimo">
            <div class="carta_dizimos">
                <div class="img_dizimos">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>
                <div class="out_dizimos">
                    <h2 class="text_dizimos">faça sua oferta aqui</h2>
                    <form action="{% url 'dizimos_page' %}">
                        <button class="btn_dizimos">dizimos</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="cultos_semanais" id="cultos">
        <div class="domingo">
            <i class="fa-solid fa-people-roof"></i>
            <div class="txt_domingo">
                <h1>Domingo:</h1>
                <h2>Culto da familha</h2>
            </div>
            <table>
                <tr>
                    <td><h2>local:</h2></td>
                    <td><h2>igreja ici</h2></td>
                </tr>
                <tr>
                    <td><h2>hora:</h2></td>
                    <td><h2>18:30</h2></td>
                </tr>
            </table>
        </div>
        <div class="terca">
            <i class="fa-solid fa-cross"></i>
            <h1>Terça:</h1>
            <h2>Culto da familha</h2>
            <table>
                <tr>
                    <td><h2>local:</h2></td>
                    <td><h2>igreja ici</h2></td>
                </tr>
                <tr>
                    <td><h2>hora:</h2></td>
                    <td><h2>20:00</h2></td>
                </tr>
            </table>
        </div>
        <div class="quinta">
            <i class="fa-solid fa-book-bible"></i>
            <h1>Quinta</h1>
            <h2>Culto de ensino</h2>
            <table>
                <tr>
                    <td><h2>local:</h2></td>
                    <td><h2>igreja ici</h2></td>
                </tr>
                <tr>
                    <td><h2>hora:</h2></td>
                    <td><h2>20:00</h2></td>
                </tr>
            </table>
        </div>
    </section>
    
    <section class="lives" id="live">
        <h1>lives da igraja</h1>
        <br>
        <h1>proxima live começa em...</h1>
        <div class="relogio">
            <div class="days">
                <span id="dias">00</span>
                <br>
                <span>dias</span>
            </div>
            <div class="hrs">
                <span id="horas"></span>
                <br>
                <span>horas</span>
            </div>
            <div class="mins">
                <span id="minutos">00</span>
                <br>
                <span>minutos</span>
            </div>
            <div class="segs">
                <span id="segundos">00</span>
                <br>
                <span>segundos</span>
            </div>
        </div>
        <a class="button_live" href="https://www.youtube.com/@igrejaici" target="_blank"><button class="live_you">no YouTube</button></a>
    </section>

    <section class="local_sobre">
        <div class="local" id="local">
            <div class="txt_local">
                <h1>Localização</h1>
            </div>
            <div class="inf_local">
                <div class="img_local">
                    <img src="/static/img/igreja.jpg" height="100%">
                </div>
                <div class="rua_local">
                    <a href="https://www.google.com.br/maps/place/Igreja+de+Cristo+em+Itanhaem/@-24.1613211,-46.7577691,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce2b3c12ca5997:0x7867cec4a66345fd!8m2!3d-24.1613211!4d-46.7551942!16s%2Fg%2F11h3k5b6cs?entry=ttu" target="_blank"><button class="btn_local"><i class="fa-solid fa-location-dot"></i></button></a>
                </div>
            </div>
        </div>
        <div class="sobre" id="sobre">
            <div class="txt_sobre">
                <h1>Sobre nós</h1>
                <br>
                <h1 class="cont">slasa sdadt gfui hbAUIFgbBFUV UGFVui gvuigavfi ugvi uGV FIUG veui fgvi ugvfa iuvfui gvau ifgviu gvugVUY VFUIAGVIUGE FAVI UGVAUIG VIUGAVUIG AUGVAUGV IUAGEVF UGAVUI VAUG</h1>
            </div>       
         </div>
    </section>

    <section class="creditos">
        <h1 class="links_crd">
            <a href="#eventos">Eventos</a><br>
            <a href="#palavra_da_semana">Palavra</a><br>
            <a href="#dizimo">Dízimos</a><br>
            <a href="#cultos">Cultos</a><br>
            <a href="#sobre">Nós</a><br>
            <a href="#local">Local</a>
        </h1>
        <div class="rua_crt"><h1>R. Cardeal Mota - Jardim Suarão - Interior, Itanhaém - SP, 11740-000</h1></div>
        <div class="redes_by">
            <table>
                <tr>
                    <td><a href="https://www.instagram.com/igrejaici/" target="_blank"><i class="fa-brands fa-instagram"></i></a></td>
                    <td><a href="https://www.facebook.com/icp.itanhaem" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></td>
                </tr>
                <tr>
                    <td><a href="https://www.youtube.com/@igrejaici" target="_blank"><i class="fa-brands fa-youtube"></i></a></td>
                    <td><a href="https://www.tiktok.com/@igrejaici?_t=8gDXbjto14A&_r=1" target="_blank"><i class="fa-brands fa-tiktok"></i></a></td>
                </tr>
            </table>

            <div class="by">
                <h1>By: Miguel Augusto da Silva</h1>
                <div class="by_redes">
                    <a href="https://www.instagram.com/mingu3l.zz/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>